/java/networkspace/day08.gui/nbproject/private/
/java/networkspace/day08.gui/build/
/java/networkspace/day09/nbproject/private/
/java/networkspace/day09/build/
/java/networkspace/day10/nbproject/private/
/java/networkspace/day10/build/
/java/networkspace/day11/nbproject/private/
/java/networkspace/day11/build/
/java/networkspace/day12/nbproject/private/
/java/networkspace/day12/build/